*{
    margin:0px;
    padding: 0px;
   
}
.dashboard{
     
    height: 60vh;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow:hidden;
}

.query{
    color: navy;
    background-color:lightblue;

    width: 100%;
    padding-top: 12px;
    padding-bottom: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 30px;
    
    
}
.container{

margin:auto;
height: 50vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;

justify-content: space-evenly;
margin-bottom: 10px;
margin-top: 10px;
}
.card-mi{
    
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    align-items: center;
    padding:30px;
    min-height: 320px;
    font-size: 20px;
    background-color:rgba(4, 44, 85, 0.7);
   margin: auto;
    border-radius: 5px;
    margin-top: 40px;
    width:250px;
    height: 140px;
}

.submit1{
    width: 90px;
   background-color: green;
    color:lightblue;
    padding: 9px;
    margin-top: 16px;
    margin-bottom: 30px;
    border:none;
    border-radius: 8px;
    font-size: 20px;
    padding-right: 10px;
    margin-right: 8x;
}
.submit2{
    width: 90px;
    background-color: rgb(131, 15, 15);
     color:lightblue;
     padding: 9px;
     margin-top: 16px;
     margin-bottom: 30px;
     border:none;
     border-radius: 8px;
     font-size: 20px;
     padding-right: 12px;
     margin-right: 8px;
     margin-left: 18px;
}
::placeholder{
    color: navy;
}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.medicinelogo{
    width: 190px;
    height:190px;
 }
 h2{
     padding-top: 5px;
     margin-top: 10px;
     text-transform:capitalize;
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
 }